

<div class="container">
  <div class="row borde">
      <div class="col-md-12 col-xs-12 borde">
        <app-toolbar></app-toolbar>
      </div>
  </div>
  <div class="row">
      <div class="col-md-2 borde">
        <app-navbar></app-navbar>
      </div>
      <div class="col-md-10 borde">

       

        <app-lista></app-lista>
        <hr>
        <button mat-raised-buttom (click)="agregarCurso()">Agregar curso</button>
        <app-lista-cursos></app-lista-cursos>
        <app-tabla-cursos><app-tabla-cursos>
          
          <app-formulario-reactivo></app-formulario-reactivo>
          
      <div>
  </div>
<div>
